<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Todo Lists</h1>

  <% if @todos.any? %>
    <ul>
      <% @todos.each do |todo| %>
        <li><%= link_to todo.title %></li>
        <li><%= link_to todo.description %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No todo lists found.</p>
  <% end %>

</div>
</body>
</html>
