<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 <div class="container">
   <h1>New Campaign</h1>
    <% if policy(Campaign.new).create? %>
       <%= render 'form', campaign: @campaign %>
    <% else %>
      <p>You are not authorized to create a campaign.</p>
    <% end %>
    <%= link_to 'Back', campaigns_path, class: 'btn btn-default' %>
 </div>
<script>
  // Check if the flash message exists and its type is 'notice'
  <% if flash[:notice] %>
    // Display a success toast message
    toastr.success('<%= flash[:notice] %>');
  <% end %>
</script>


</body>
</html>